@header-color:white;
@linkcolor: #34495e;
@quote-color: hsla(212, 31%, 44%, 1);
.clearfix{
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}

.postContentPadding {
  padding: 0 1em 1em 1em;

}
.rotation (@angle: 10deg, @x:0%, @y:0%) {
  transform: rotate(@angle);
  -moz-transform: rotate(@angle);
  -ms-transform: rotate(@angle);
  -o-transform: rotate(@angle);
  -webkit-transform: rotate(@angle);

  transform-origin: @x @y;
  -moz-transform-origin: @x @y;
  -ms-transform-origin: @x @y;
  -o-transform-origin: @x @y;
  -webkit-transform-origin: @x @y;
}


.rounded-corners (@radius: 50%) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}


html, body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  caption, th, td {
    text-align: left;
    vertical-align: middle;
  }
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}

div, p, span{

  font-family:Helvetica-Neue, Arial, sans-serif;

}




.highlight{
  background-color: #000;
  margin:10px;
  max-width:1400px;
  overflow:scroll;
  *{
    font-family:"Courier New" , monospace, serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
  }
  pre {
    padding:1em;
  }
}

h1,h2,h3,h4,h5,h6{
  color: rgb(52, 73, 94);
  font-weight: 100;
}

h1{
  font-family: Helvetica, Arial, freesans, clean, sans-serif;
  font-size: 30px;
  font-weight: 100;
  line-height:1.4em;
}

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 0 15px;
  margin: 0 0 1em;
  position: relative;

  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;

  @boxshadow: 2px 2px 15px #ccc;
  -moz-box-shadow: @boxshadow;
  -webkit-box-shadow: @boxshadow;
  box-shadow: @boxshadow;
}

.avatar-image(){
  background-repeat: no-repeat;
  background-position: 50%;
  width:  112px;
  height: 112px;
  float:  left;

  @var:   112;
  background-image: url("https://avatars3.githubusercontent.com/u/74471?v=3&s=@{var}");
  .rounded-corners(50%);
}


#header{
  clear:both;
  height: 112px;
  width: 330px ;
  margin-top:1em;
  margin-bottom:1em;
  margin-left: auto ;
  margin-right: auto ;

  a {
    text-decoration:none;
  }
  .avatar{
    .avatar-image;
  }
  .personal-details{
    padding-left:1em;
    float:right;
    li{
      display: inline;
      a{
        color:@linkcolor;
        text-decoration:none;
      }

    }
  }
  .clearfix;

}

#container{
  max-width:1200px;
  margin:1em 1em;
}

#content{

  width:100%;
  max-width:1200px;
  // margin-top:auto;
  margin:auto;

  h1, h2, h3, h4 h5, h6{
    padding-top: 1em;
    color: @linkcolor;
  }
  ul {

    // padding-top: .5em;
    padding-left: 2em;
    list-style-type: square;

  }
  p {
    .postContentPadding;
    vertical-align: middle;

    margin: auto;
    a{
      color: @linkcolor;
    }
  }
  .post{
    min-width:320px;
    min-height: 560px;
    width:50%;
    margin:auto;
    float:left;


    h2{
      line-height:1.6em;
      font-size:125%;
      a {
        text-decoration:none;
        color: @linkcolor;
      }
    }

    h4, p{
      line-height:1.3em;
    }

    div {
      line-height:1.4em;
    }


  }
  .post_detail{

    min-width:320px;
    max-width:900px;
    .postContentPadding;
    .clearfix;
  }
  .clearfix;

}

#footer{
  clear:both;
  vertical-align: middle;
  margin:auto;
  padding: 2em 0;
  .pagination{
    margin-left: auto;
    margin-right: auto;
    width:200px;
    ul {
      list-style: none;
      li {
        display: inline;
      }
    }
  }
}
