.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  padding: 2em;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
div,
p,
span {
  font-family: Helvetica-Neue, Arial, sans-serif;
}
.highlight {
  background-color: #000;
  margin: 10px;
  max-width: 1400px;
  overflow: scroll;
}
.highlight * {
  font-family: "Courier New", monospace, serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}
.highlight pre {
  padding: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #34495e;
  font-weight: 100;
}
h1 {
  font-family: Helvetica, Arial, freesans, clean, sans-serif;
  font-size: 30px;
  font-weight: 100;
  line-height: 1.4em;
}
#header {
  clear: both;
  height: 112px;
  width: 330px ;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto ;
  margin-right: auto ;
  zoom: 1;
}

#header a {
  text-decoration:none;
}
#header .avatar {
  background-repeat: no-repeat;
  background-position: 50%;
  width: 112px;
  height: 112px;
  float: left;
  background-image: url("https://avatars3.githubusercontent.com/u/74471?v=3&s=112");
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#header .personal-details {
  padding-left: 1em;
  float: right;
}
#header .personal-details li {
  display: inline;
}
#header .personal-details li a {
  color: #34495e;
  text-decoration: none;
}
#header:before,
#header:after {
  content: "";
  display: table;
}
#header:after {
  clear: both;
}
#container {
  max-width: 1200px;
  margin: 1em 1em;
}
#content {
  min-width: 320px;
  max-width: 1200px;
  margin: auto;
  zoom: 1;
}
#content h1,
#content h2,
#content h3,
#content h4 h5,
#content h6 {
  padding-top: 1em;
  color: #34495e;
}
#content p {
  margin: 1em 0 0 0;
}
#content p a {
  color: #34495e;
}
#content ul {
  padding-left: 2em;
  list-style-type: square;
}
#content .post {
  min-width: 320px;
  width: 50%;
  float: left;
}
#content .post h2 {
  line-height: 1.6em;
  font-size: 125%;
}
#content .post h2 a {
  text-decoration: none;
  color: #34495e;
}
#content .post h4,
#content .post p {
  line-height: 1.3em;
}
#content .post div {
  line-height: 1.4em;
}
#content .post p {
  padding: 0 1em;
}
#content .post_detail {
  min-width: 320px;
  max-width: 900px;
  zoom: 1;
}
#content .post_detail:before,
#content .post_detail:after {
  content: "";
  display: table;
}
#content .post_detail:after {
  clear: both;
}
#content:before,
#content:after {
  content: "";
  display: table;
}
#content:after {
  clear: both;
}
#footer {
  clear: both;
  vertical-align: middle;
  margin: auto;
  padding: 2em 0;
}
#footer .pagination {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
#footer .pagination ul {
  list-style: none;
}
#footer .pagination ul li {
  display: inline;
}
