.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica-Neue, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #34495e;
  font-weight: 100;
}
h1 {
  font-family: Helvetica, Arial, freesans, clean, sans-serif;
  font-size: 30px;
  font-weight: 100;
  line-height: 1.4em;
}
#header {
  clear: both;
  height: 112px;
  width: 320px ;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto ;
  margin-right: auto ;
}
#header .avatar {
  background-repeat: no-repeat;
  background-position: 50%;
  width: 112px;
  height: 112px;
  float: left;
  background-image: url("https://avatars3.githubusercontent.com/u/74471?v=3&s=120");
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#header .personal-details {
  padding-left: 1em;
  float: right;
}
#content {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  zoom: 1;
}
#content .post {
  min-width: 320px;
  width: 50%;
  float: left;
  padding: 1em 0;
}
#content .post * {
  min-width: 310px;
  max-width: 600px;
  margin-left: auto ;
  margin-right: auto ;
}
#content .post h2 {
  line-height: 1.6em;
  padding: 0 0.5em;
}
#content .post h3 {
  padding: .2em 0 .1em .9em;
}
#content .post h4,
#content .post p {
  padding: 0 1em;
  line-height: 1.3em;
}
#content .post div {
  line-height: 1.4em;
}
#content:before,
#content:after {
  content: "";
  display: table;
}
#content:after {
  clear: both;
}
